@import "mixins";

.content {
  @include _999 {
    padding-top: 10px;
  }
  @include _767 {
    position: relative;
  }

  &--padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &--only-title {
    padding-top: 50px;
    padding-bottom: 50px;
    @include _999 {
      padding-top: 30px;
      padding-bottom: 0;
      position: relative;
    }
  }

  &--only-title &__header {
    @include _767 {
      padding-top: 30px;
    }
  }

  &--box {
    background: var(--color-bg-light);
    padding: 100px 0;
    margin-top: 100px;
    @include _999 {
      padding: 50px 0;
      margin-top: 100px;
    }
    @include _767 {
      margin-top: 0;
    }

    & + & {
      margin-top: 0;
      padding-top: 0;
    }
  }

  &--box &__body > h3 > span {
    color: var(--color-gray);
  }

  &--box &__body > blockquote {
    background: var(--color-bg);
  }

  &__header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-top: 100px;
    border-radius: 0 0 50px 0;
    overflow: hidden;

    @include _1279 {
      padding-top: 70px;
    }
    @include _999 {
      border-radius: 0 0 30px 0;
    }
    @include _767 {
      padding-top: 50px;
      position: initial;
      max-height: 350px;;
    }
  }

  &__title {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px 40px 20px 0;
    max-width: 70%;
    border-radius: 0 0 30px 0;
    background: var(--color-bg);
    @include _767 {
      padding: 8px;
      max-width: 100%;
      min-width: 360px;
    }
  }

  &__header-image {
    max-width: 820px;
    @include _999 {
      max-width: 728px;
    }
  }

  &__description {
    display: flex;
    justify-content: flex-end;
    max-width: 820px;
    margin-left: auto;
    margin-right: 0;
    margin-top: 50px;
    gap: 30px;

    @include _1279 {
      margin-top: 30px;
    }
    @include _999 {
      max-width: 728px;
    }
    @include _767 {
      flex-wrap: wrap;
    }

    &--numbers {
      justify-content: space-between
    }
  }

  &__description-item {
    flex: 1 1 150px;
  }

  &__description-title {
    text-align: right;
    font-size: var(--font-size-h3);
    font-weight: 600;

    span {
      font-size: var(--font-size-action);
      font-weight: 400;
    }
  }

  &__description-hint {
    text-align: right;
    font-size: var(--font-size-text);
    font-weight: 400;
    color: var(--color-text-light);
  }

  &__description--wow &__description-title {
    text-align: center;
    color: var(--color-primary);
  }

  &__description--wow &__description-hint {
    text-align: center;
    color: var(--color-gray);
  }

  &__body {
    padding-bottom: 50px;

    > h3, > blockquote > h3 {
      font-size: var(--font-size-h3);
      margin-top: 50px;
      margin-bottom: 20px;
      @include _767 {
        margin-top: 30px;
        margin-bottom: 10px;
      }
      &:first-of-type {
        margin-top: 0;
      }

      span {
        display: block;
        color: var(--color-text-light);
        font-size: var(--font-size-text-big);
        font-weight: 300;
      }
    }

    > h4, > blockquote > h4 {
      font-size: var(--font-size-h4);
      margin-top: 30px;
      margin-bottom: 20px;
      &:first-of-type {
        margin-top: 0;
      }
      @include _767 {
        margin-top: 10px;
        margin-bottom: 0;
      }
    }

    > p , > blockquote > p {
      font-size: var(--font-size-text);
      > i {
        color: var(--color-text-light);
        font-style: normal;
        font-weight: 300;
      }
    }

    > ul, > blockquote > ul {
      padding-left: 1.5em;
      margin-bottom: 1em;
      > li {
        margin-bottom: .5em;
        font-weight: 300;
      }
    }

    > blockquote {
      background: var(--color-bg-light);
      padding: 30px 50px;
      margin-top: 30px;
      margin-left: -50px;
      border-radius: 30px 0 30px 0;
      @include _1279 {
        margin-left: -30px;
      }
      @include _999 {
        margin-left: 0;
      }
      @include _767 {
        padding: 20px 30px;
      }
    }
  }
}
