@import "mixins";

:root {
  --grid-width: 94px;
  --grid-gap: 10px;

  @include _1279 {
    --grid-width: 72px;
    --grid-gap: 10px;
  }
}

.container {
  width: calc(var(--grid-width) * 12 + var(--grid-gap) * 11);
  margin: 0 auto;

  @include _999 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include _767 {
    padding-left: 8px;
    padding-right: 8px;
  }

  &__content {
    width: 100%;
  }

  &__image {
    width: 100%;
    border-radius: 30px 0 30px 0;
    flex-grow: 1;
    min-width: 0;
  }

  &--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--5x7 {
    display: flex;
    align-items: flex-start;
    gap: 50px;
    @include _1279 {
      gap: 30px;
    }
    @include _999 {
      flex-direction: column;
    }
  }

  &--5x7 &__left {
    width: calc(var(--grid-width) * 5 + var(--grid-gap) * 4 - 20px);
    min-width: calc(var(--grid-width) * 5 + var(--grid-gap) * 4 - 20px);

    @include _1279 {
      width: calc(var(--grid-width) * 5 + var(--grid-gap) * 4);
      min-width: calc(var(--grid-width) * 5 + var(--grid-gap) * 4);
    }

    @include _999 {
      width: 100%;
      min-width: 0;
      &--flex {
        display: flex;
        @include _767 {
          display: block;
        }
        & > * {
          flex: 1;
        }
      }
    }
  }

  &--4x8 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    @include _1279 {
      gap: 10px;
    }
    @include _999 {
      flex-direction: column;
    }
  }

  &--4x8 &__left {
    width: calc(var(--grid-width) * 4 + var(--grid-gap) * 3);
    min-width: calc(var(--grid-width) * 4 + var(--grid-gap) * 3);

    @include _1279 {

    }

    @include _999 {
      width: 100%;
      min-width: 0;
    }
  }

  &__left {
    &--sticky {
      position: sticky;
      top: 100px;
      z-index: 50;

      @include _999 {
        top: 0;
        position: relative;
      }
    }
  }

  &--50x50-m {
    @include _999 {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
    @include _767 {
      display: grid;
      grid-auto-flow: row;
      grid-auto-columns: 1fr;
    }
  }
}
