@import "mixins";

.faq {

  &--container {
    @include _999 {
      position: relative;
      padding-bottom: 170px;
    }
  }

  &__left {
    @include _999 {
      position: initial;
      gap: 20px;
    }
  }

  &__button {
    width: 90%;
    height: 60px;
    gap: 5px;
    stroke: var(--color-primary);
    @include _1279 {
      width: 95%;
      height: 50px;
    }
    @include _767 {
      position: absolute;
      bottom: 80px;
      left: 10%;
      right: 10%;
      width: auto;
    }

    &:hover {
      stroke: var(--color-secondary);
    }
  }

  &__item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--color-text-light);

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:first-of-type {
      padding-top: 0;
    }

    &--open {

    }
  }

  &__number {
    width: 60px;
    @include _767 {
      width: 30px;
    }
  }

  &__question {
    max-width: calc(100% - 60px);
    font-size: var(--font-size-h4);
    cursor: pointer;

    span {
      color: var(--color-text-light);
    }
  }

  &__answer {
    padding-left: 60px;
    padding-top: 0;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    width: 100%;
    transition: .5s linear;
    @include _767 {
      padding-left: 10px;
      padding-right: 10px;
    }

    ul {
      margin-left: 1.5em;
    }

    li {
      font-weight: 300;
      padding: .3em 0;
    }
  }

  &__item--open &__question {
    color: var(--color-gray);
    cursor: initial;
  }

  &__item--open &__answer {
    opacity: 1;
    max-height: 300px;
    padding-top: 30px;
  }
}
