.file {
  margin: 5px 0;
  padding: 5px 0 5px 55px;

  &--patent {
    background: url(../assets/cetr-icon.svg) no-repeat left center;
  }

  &--help {
    background: url(../assets/help-icon.svg) no-repeat left center;
  }

  &--3d {
    background: url(../assets/3d-icon.svg) no-repeat left center;
  }

  &__title{
    font-size: var(--font-size-action);
  }

  &__description {
    color: var(--color-gray);
    font-size: var(--font-size-text);
    font-weight: 300;
  }
}
