@import "mixins";

.header {
  display: block;
  background: var(--color-bg);
  padding-bottom: 0;
  top: 0;
  min-height: 40px;
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 100;
  transition: .2s ease-out;

  @include _999 {
    height: 60px;
  }

  &__top {
    width: 100%;
    @include _999 {
      display: none;
      opacity: 0;
      transition: .2s ease-out;
    }
  }

  &__bottom {
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    background: var(--color-bg);
    transition: top, height .2s ease-out;
    @include _1279 {
      height: 60px;
    }
    @include _767 {
      height: 50px;
    }
  }

  &__mobile {
    display: none;
  }

  &__bottom-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    transition: .2s ease-out;
    @include _1279 {
      padding-left: 50px;
    }
    @include _999 {
      padding-left: 60px;
    }
    @include _767 {
      padding-left: 42px;
    }
  }

  &__nav-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;

    @include _999 {
      flex-direction: row-reverse;
      order: 1;
      gap: 30px;
      padding-right: 0;
    }

    @include _767 {
      gap: 20px;
    }
  }

  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  &__menu {
    width: 100%;
    @include _999 {
      display: none;
    }
  }

  &__logo {
    position: absolute;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    top: -20px;
    transform: rotate(10deg);

    transition: .5s ease-out;

    @include _1279 {
      right: 100%;
      left: -10px;
      transform: rotate(0deg);
      width: 50px;
      height: 50px;
      padding: 5px 0 !important;
      top: 0;
      bottom: 0;
      margin: auto 0;
      background: none !important;
    }
    @include _999 {
      box-shadow: none !important;
      left: 10px;
    }
    @include _767 {
      left: -2px;
    }
  }

  &__name {
    display: none;
    font-size: var(--font-size-h3);
    padding-bottom: 2px;
    @include _999 {
      display: block;
      margin-right: auto;
    }
  }

  &__cart-button, &__phone-button {
    position: relative;
    width: 35px;
    height: 35px;
    text-align: center;
    order: 2;

    @include _767 {
      width: 25px;
      height: 25px;
      background-size: 25px !important;
    }
  }

  &__cart-button {
    background: url(../assets/cart-icon.svg) no-repeat center;
  }

  &__cart-item {
    position: absolute;
    display: block;
    top: -7px;
    right: -7px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--color-primary);
    color: var(--bg-color);
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    transition: background .2s ease;

    @include _767 {
      top: -5px;
      right: -5px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
    }
  }

  &__cart-button:hover &__cart-item {
    background: var(--color-secondary);
  }

  &__phone-button {
    background: url(../assets/phone-icon.svg) no-repeat center;
    @include _767 {
      display: none;
    }
  }

  &__mobile-button {
    order: 1;
    margin: 16px 0 16px;
    padding: 0;
    outline: 0;
    cursor: pointer;
    border: 0;
    position: relative;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    transition: background .2s ease;
    width: 35px;
    height: 3px;
    background: var(--color-text);
    border-radius: 2px;
    display: none;

    @include _999 {
      display: block;
    }
    @include _767 {
      width: 25px;
      height: 2px;
      margin: 11px 0 11px;
    }

    &:after, &:before {
      width: 35px;
      height: 9px;
      position: absolute;
      left: 0;
      content: "";
      border-radius: 2px;
      transition: border-color .2s ease, transform .2s ease, -webkit-transform .2s ease;

      @include _767 {
        width: 25px;
        height: 6px;
      }
    }

    &:after {
      border-bottom: 3px solid var(--color-text);
      top: 100%;
      @include _767 {
        border-bottom-width: 2px;
      }
    }

    &:before {
      border-top: 3px solid var(--color-text);
      bottom: 100%;
      @include _767 {
        border-top-width: 2px;
      }
    }
  }

  @media only screen and (min-width: 1280px) {
    &--small &__logo {
      right: 100%;
      left: -10px;
      transform: rotate(0deg);
      box-shadow: none !important;
      width: 50px;
      height: 50px;
      padding: 5px 0;
      top: 5px;
    }
  }

  &--small &__bottom {
    height: 60px;
    top: 0;
    position: fixed;
    @include _999 {
      position: relative;
    }
    @include _767 {
      height: 50px;
    }
  }

  @media only screen and (min-width: 1000px) {
    &--small &__bottom-wrapper {
      padding-left: 50px;
    }

    &--small &__logo {
      box-shadow: none !important;
    }
  }


  @media only screen and (max-width: 999px) {
    &--open {
      background: var(--color-bg-light);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 100%;
      display: block;
      z-index: 1000;
    }

    &--open &__top {
      display: block;
      opacity: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1001;
      padding: 8px 0;
      border-top: 1px solid #ccc;
    }

    &--open &__top-menu {
      justify-content: center;
      gap: 30px;
    }

    &--open &__bottom {
      background: var(--color-bg-light);
    }

    &--open &__contact-wrapper {
      display: none;
    }

    &--open &__cart-button, &--open &__phone-button {
      display: none;
    }

    &--open &__mobile-button {
      background: none;

      &:before {
        transform: rotate(-45deg) translateY(50%) translateX(-9px);
        border-color: var(--color-primary);
        border-radius: 0;
        @include _767 {
          transform: rotate(-45deg) translateY(50%) translateX(-6px);
        }
      }

      &:after {
        transform: rotate(45deg) translateY(-50%) translateX(-9px);
        border-color: var(--color-primary);
        border-radius: 0;
        @include _767 {
          transform: rotate(45deg) translateY(-50%) translateX(-6px);
        }
      }
    }

    &--open &__mobile {
      display: block;
      margin-top: 15px;
      margin-right: 40px;
    }

    &__mobile-menu {
      flex-direction: column;
      align-items: flex-end;
      gap: 30px;
      font-size: var(--font-size-h4);
    }
  }

  @media only screen and (max-width: 767px) {
    &:not(&--open) {
      height: 50px;
    }
  }
}
