:root {
  --color-bg: #fff;
  --color-text: #202020;
  --color-primary: #E70111;
  --color-secondary: #FF8100;
  --color-bg-light: #ccc;

  --font-size-default: 1rem;
  --font-size-h1: 70px;
  --font-size-h3: 30px;
  --font-size-action: 20px;
  --font-size-text: 16px;
  --font-size-sub_text: 14px;

  --font-weight-h1: 600;

  --font-size-h1-sm: 26px;
  --font-weight-h1-sm: 400;
}
