<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__about">
        <img src="img/fleyt/footer_logo.png" alt="Логотип Флэйт" class="footer__logo">
        <div class="footer__description">Современное электрическое отопление</div>
        <div class="footer__socials">
          <a href="" class="button button--icon footer__youtube-button"></a>
          <a href="" class="button button--icon footer__vk-button"></a>
          <a href="" class="button button--icon footer__telegram-button"></a>
        </div>
      </div>
      <div class="footer__content">
        <ul class="footer__menu menu menu--row">
          <li class="menu__item"><a href="" class="link">Каталог Флэйт</a></li>
          <li class="menu__item"><a href="" class="link">Расчёт отопления</a></li>
          <li class="menu__item"><a href="" class="link">Монтаж радиаторов</a></li>
          <li class="menu__item"><a href="" class="link">Блог</a></li>
          <li class="menu__item"><a href="" class="link">Вопросы</a></li>
          <li class="menu__item"><a href="" class="link">Контакты</a></li>
        </ul>
        <div class="footer__contacts">
          <div class="footer__phone phone">
            <a href="tel:8 800 333-81-98" class="link link--phone phone__number">8 800 333-81-98</a>
            <div class="footer__contact-description">ПН - ПТ, 9:00 - 18:00 МСК</div>
          </div>

          <div class="footer__email">
            <a href="sale@fleyt.ru" class="link link--email">sale@fleyt.ru</a>
            <div class="footer__contact-description">мы обязательно Вам ответим</div>
          </div>

          <div class="footer__address">
            г. Челябинск, ул. Энгельса, д. 43 – 514
          </div>
        </div>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copyright">© Флэйт 2024</div>
      <ul class="footer__privacy-menu menu menu--secondary">
        <li class="menu__item"><a href="#" class="link">Политика конфиденциальности </a></li>
        <li class="menu__item"><a href="#" class="link">Персональные данные</a></li>
        <li class="menu__item"><a href="#" class="link">Условия оплаты</a></li>
        <li class="menu__item"><a href="#" class="link">Способы доставки</a></li>
      </ul>
  </div>
  </div>
</footer>
