<script src="@scripts/menu.js" defer="defer"></script>

<header class="header" id="header">
  <div class="header__top">
    <div class="container">
      <ul class="header__top-menu menu menu--secondary">
        <li class="menu__item"><a href="/blog" class="link">Блог</a></li>
        <li class="menu__item"><a href="/faq#pay" class="link">Оплата</a></li>
        <li class="menu__item"><a href="/faq#delivery" class="link">Доставка</a></li>
        <li class="menu__item"><a href="/faq" class="link">Вопросы</a></li>
        <li class="menu__item"><a href="/contacts" class="link">Контакты</a></li>
      </ul>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container header__bottom-wrapper">
      <div class="header__logo box-shadow logo logo--box">
        <a href="/"><img src="img/fleyt/header-logo.png" alt="Флэйт" class="logo__img"></a>
      </div>
      <div class="header__name logo-font">Флэйт</div>
      <ul class="header__menu menu">
        <li class="menu__item"><a href="/shop" class="link">Каталог</a></li>
        <li class="menu__item"><a href="/specs" class="link">Характеристики</a></li>
        <li class="menu__item"><a href="/calculation" class="link">Расчёт</a></li>
        <li class="menu__item"><a href="/installation" class="link">Монтаж</a></li>
      </ul>
      <div class="header__nav-wrapper">
        <a href="#" class="button button--icon header__cart-button"><span class="header__cart-item">14</span></a>
        <a href="tel:88003001020" class="button button--icon header__phone-button"></a>
        <button type="button" class="header__mobile-button" onclick="menu.openMenu();"></button>
      </div>
      <div class="header__contact-wrapper phone phone--header">
        <div class="phone__number">8 800 300-10-20</div>
        <div class="phone__label">звонок по РФ бесплатный</div>
      </div>
    </div>
  </div>
  <div class="container header__mobile">
    <ul class="header__mobile-menu menu">
      <li class="menu__item"><a href="/shop" class="link">Каталог Флэйт</a></li>
      <li class="menu__item"><a href="/specs" class="link">Характеристики</a></li>
      <li class="menu__item"><a href="/calculation" class="link">Расчёт отопления</a></li>
      <li class="menu__item"><a href="/installation" class="link">Монтаж радиаторов</a></li>
      <li class="menu__item"><a href="/contacts" class="link">Контакты</a></li>
    </ul>
  </div>
</header>
