server {
        listen 80;
        listen [::]:80;

        server_name $DOMAIN, www.$DOMAIN;

        server_tokens off;

        root /var/www/$DOMAIN;
        index index.html index.htm;

        location /.well-known/acme-challenge/ {
            root /var/www/certbot;
        }

        location / {
            try_files $uri $uri/ =404;
            error_page 404 /404.html;
        }

        location ~ /\.ht {
            deny all;
        }

        error_log /var/log/nginx/$DOMAIN_error.log;
        access_log /var/log/nginx/$DOMAIN_access.log;
}


server {
    listen 443 default_server ssl;
    listen [::]:443 ssl;
    http2 on;

    server_name $DOMAIN, www.$DOMAIN;

    ssl_certificate /etc/nginx/ssl/live/$DOMAIN/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/$DOMAIN/privkey.pem;

    location / {
    	proxy_pass http://$DOMAIN;
    }
}
