{% extends "layouts/template.njk" %}

{% block title %}&#171;Флэйт&#187; - Частые вопросы{% endblock %}

{% block css %}

{% endblock %}

{% block content %}

  {% include "blocks/faq_body.html" %}
  {% include "blocks/faq_pay.html" %}
  {% include "blocks/faq_delivery.html" %}

{% endblock %}
