{% extends "layouts/template.njk" %}

{% block title %}&#171;Флэйт&#187; - электрические радиаторы системы отопления{% endblock %}

{% block css %}
  <link href="@styles/fleyt.scss" rel="stylesheet">
{% endblock %}

{% block content %}
  <p>This will be rendered into a layout</p>
{% endblock %}

