<h3>Инструкция по сборке в&nbsp;один&nbsp;ряд</h3>
<div class="manual__image-wrapper">
  <img src="img/fleyt/manual/m1.svg" alt="Инструкция по сборке" class="manual__image">
</div>
<p>Снимите <span class="manual__hint" data-img="m1-1_1">настенные кронштейны</span> с соединяемых радиаторов,
  выкрутив
  <span class="manual__hint" data-img="m1-1_2">стопорный винт</span>. Используйте гибкую отвертку из комплекта
  поставки.</p>
<div class="manual__image-wrapper manual__image-wrapper--description">
  <img src="img/fleyt/manual/m1-1.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-1">
  <img src="img/fleyt/manual/m1-1_1.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-1_1">
  <img src="img/fleyt/manual/m1-1_2.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-1_2">
  <div class="manual__description">
    <p>В инструкции изображена модель радиатора ФЛЭЙТ 500Вт-50.</p>
    <p>Для других моделей последовательность действий аналогична.</p>
  </div>
</div>
<p>Снимите <span class="manual__hint" data-img="m1-2_4">боковые крышки</span> с настенных кронштейнов,
  открутив <span class="manual__hint" data-img="m1-2_3">крепежные гайки</span> со стороны соединяемых радиаторов.</p>
<div class="manual__image-wrapper">
  <img src="img/fleyt/manual/m1-2.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-2">
  <img src="img/fleyt/manual/m1-2_3.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-2_3">
  <img src="img/fleyt/manual/m1-2_4.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-2_4">
</div>
<p>Установите вместо боковых крышек <span class="manual__hint" data-img="m1-3_1">соединительный кронштейн</span>
  и зафиксируйте его ранее снятыми гайками.</p>
<div class="manual__image-wrapper manual__image-wrapper--description">
  <img src="img/fleyt/manual/m1-3.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-3">
  <img src="img/fleyt/manual/m1-3_1.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-3_1">
  <div class="manual__description manual__description--center">
    <img src="img/fleyt/manual/m1-3-2.svg" alt="Инструкция по сборке" class="manual__image">
    <p>Вид в сборе</p>
  </div>
</div>
<p>Установите соединенные кронштейны на стену. Для монтажа используйте крепежный элемент из комплекта
  поставки. Расстояние <b>от пола >190мм</b> до нижнего края кронштейна.</p>
<div class="manual__image-wrapper">
  <img src="img/fleyt/manual/m1-4.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-4">
</div>
<p>Подключите <span class="manual__hint" data-img="m1-5_7">соединительный кабель</span> из комплекта поставки
  к любому <span class="manual__hint" data-img="m1-5_8">клеммному зажиму</span> первого радиатора.
  Желто-зеленую жилу подключите к средней клемме зажима.</p>
<div class="manual__image-wrapper manual__image-wrapper--description">
  <img src="img/fleyt/manual/m1-5.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-5">
  <img src="img/fleyt/manual/m1-5_7.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-5_7">
  <img src="img/fleyt/manual/m1-5_8.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-5_8">
  <div class="manual__description manual__description--center">
    <img src="img/fleyt/manual/m1-5-2.svg" alt="Инструкция по сборке" class="manual__image">
    <p>Желто-зеленая жила к средней клемме</p>
  </div>
</div>
<p>Установите первый радиатор на настенный кронштейн, совместив <span class="manual__hint" data-img="m1-6_1">отверстия&nbsp;А с&nbsp;крючками&nbsp;Б</span>,
  и&nbsp;опустите вниз до упора. Свободный конец кабеля проложите внутри кронштейна.</p>
<div class="manual__image-wrapper manual__image-wrapper--description">
  <img src="img/fleyt/manual/m1-6.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-6">
  <img src="img/fleyt/manual/m1-6_1.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-6_1">
  <div class="manual__description manual__description--center">
    <img src="img/fleyt/manual/m1-6-2.svg" alt="Инструкция по сборке" class="manual__image">
    <p>Конец кабеля внутри кронштейна</p>
  </div>
</div>
<p>Подключите свободный конец соединительного кабеля к любому клеммному зажиму второго радиатора.
  Желто-зеленую жилу подключите к средней клемме зажима.</p>
<h4>Подключение к стационарному кабелю</h4>
<p>В случае использования <span class="manual__hint" data-img="m1-8_9">стационарного кабеля питания 220В</span>,
  подключите его к свободному клеммному зажиму крайнего радиатора.</p>
<div class="manual__image-wrapper manual__image-wrapper--description">
  <img src="img/fleyt/manual/m1-8.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-8">
  <img src="img/fleyt/manual/m1-8_9.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-8_9">
  <div class="manual__description">
    <p>Используйте отверстия в кронштейне для скрытого подведения кабеля питания из стены в радиатор</p>
    <p>Оставляйте запас кабеля 50см</p>
  </div>
</div>
<h4>Подключение шнура питания с вилкой</h4>
<p>В случае использования <span class="manual__hint" data-img="m1-9_1">шнура питания с вилкой 220В</span>,
  проденьте через <span class="manual__hint" data-img="m1-9_2">ввод питания</span> и подключите его к
  свободному клеммному зажиму радиатора.</p>
<div class="manual__image-wrapper manual__image-wrapper--description">
  <img src="img/fleyt/manual/m1-9.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-9">
  <img src="img/fleyt/manual/m1-9_1.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-9_1">
  <img src="img/fleyt/manual/m1-9_2.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-9_2">
  <div class="manual__description manual__description--center">
    <img src="img/fleyt/manual/m1-9-2.svg" alt="Инструкция по сборке" class="manual__image">
    <p>Ввод питания можно перенести на место имеющих пластиковых заглушек</p>
  </div>
</div>
<p>Установите второй радиатор на настенный кронштейн. Заверните <span class="manual__hint" data-img="m1-10_1">стопорные винты</span>,
  используя гибкую отвертку из комплекта поставки.</p>
<div class="manual__image-wrapper">
  <img src="img/fleyt/manual/m1-10.svg" alt="Инструкция по сборке" class="manual__image" data-def="m1-10">
  <img src="img/fleyt/manual/m1-10_1.svg" alt="Инструкция по сборке" class="manual__image" data-for="m1-10_1">
</div>
