<h3>Инструкция по установке на пол в&nbsp;два&nbsp;ряда</h3>
<div class="manual__image-wrapper">
  <img src="img/fleyt/manual/m2.svg" alt="Инструкция по сборке" class="manual__image">
</div>
<p>Снимите <span class="manual__hint" data-img="m2-1_1">настенные кронштейны</span> с соединяемых радиаторов,
  выкрутив <span class="manual__hint" data-img="m2-1_2">стопорный винт</span>. Используйте гибкую отвертку из комплекта
  поставки.</p>
<div class="manual__image-wrapper manual__image-wrapper--description">
  <img src="img/fleyt/manual/m2-1.svg" alt="Инструкция по сборке" class="manual__image" data-def="m2-1">
  <img src="img/fleyt/manual/m2-1_1.svg" alt="Инструкция по сборке" class="manual__image" data-for="m2-1_1">
  <img src="img/fleyt/manual/m2-1_2.svg" alt="Инструкция по сборке" class="manual__image" data-for="m2-1_2">
  <div class="manual__description">
    <p>В инструкции изображена модель радиатора ФЛЭЙТ 500Вт-50.</p>
    <p>Для других моделей последовательность действий аналогична.</p>
  </div>
</div>
