@mixin hint($name) {
  p:has(span[data-img=#{$name}]:hover) ~ div > img[data-for=#{$name}], p:has(span[data-img=#{$name}]:active) ~ div > img[data-for=#{$name}] {
    max-height: 400px;
    opacity: 1;
  }
}

.manual {
  &__hint {
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline dotted var(--color-secondary);
  }

  &__image-wrapper {
    position: relative;
    margin-top: 10px;
    margin-bottom: 30px;
    &--description {
      margin-right: 40%;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;
    max-height: 400px;
    width: 100%;
    opacity: 1;
    transition: opacity .2s linear;
  }
  &__description {
    position: absolute;
    padding-left: 10px;
    top: 0;
    bottom: 0;
    right: -60%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text-light);
    font-size: var(--font-size-sub_text);
    &--center {
      text-align: center;
    }
  }

  &__image[data-def] {
    //
  }

  &__image[data-for] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 0;
    opacity: 0;
    background: #fff;
  }

  p:has(span[data-img='m1-1_1']:hover) ~ div > img[data-def='m1-1'] {
    //
  }

  @include hint('m1-1_1');
  @include hint('m1-1_2');
  @include hint('m1-2_3');
  @include hint('m1-2_4');
  @include hint('m1-3_1');
  @include hint('m1-5_7');
  @include hint('m1-5_8');
  @include hint('m1-6_1');
  @include hint('m1-8_9');
  @include hint('m1-9_1');
  @include hint('m1-9_2');
  @include hint('m1-10_1');
  @include hint('m2-1_1');
  @include hint('m2-1_2');
}
