@import "../mixins";

.install {
  margin: 150px 0 0;
  padding: 100px 0 150px;
  background: var(--color-bg-light);
  position: relative;

  @include _999 {
    padding: 80px 0 100px;
  }

  @include _767 {
    margin: 0;
    background: #e7e7e7;
    padding: 50px 0 100px;
  }

  &__container {
    gap: 30px;

    @include _1279 {
      gap: 0 30px;
    }

    @include _999 {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__col {
    flex: 1 1 388px;
    max-width: 388px;
    margin-top: 30px;
    @include _1279 {
      max-width: calc(100% - 410px);
    }

    @include _999 {
      max-width: 100%;
      flex: 1;
      margin-top: 0;
      padding: 0 30px;

      display: grid;
      grid-template-areas: "a b b" ". c c";
    }

    @include _767 {
      max-width: 80%;
      min-width: 344px;
      margin-left: auto;
      margin-right: auto;
      display: block;

      padding: 0 20px;
    }

    & > *:nth-child(1) {
      grid-area: a;
    }

    & > *:nth-child(2) {
      grid-area: b;
    }

    &> *:nth-child(3) {
      grid-area: c;
    }

    &--bay {
      flex: 1 1 380px;
      max-width: 380px;
      margin-top: 0;
      background: var(--color-bg);
      padding: 30px;
      border-radius: 30px 0 30px 0;
      position: relative;

      @include _999 {
        max-width: 100%;
        flex: 1;
        align-items: start;
        grid-template-columns: repeat(2, calc(50% - 15px));
        grid-template-areas: "a c" "b c";
        gap: 20px 30px;
      }

      @include _767 {
        max-width: 80%;
        min-width: 344px;
        padding: 20px;
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 45px;
        top: 50px;
        width: 1px;
        bottom: 60px;
        border-left: 1px solid var(--color-secondary);
        @include _999 {
          left: 30px;
          top: 67px;
          height: 1px;
          width: 50%;
          bottom: auto;
          border-top: 1px solid var(--color-secondary);
          border-left: none;
        }
        @include _767 {
          display: none;
        }
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 43px;
        width: 5px;
        height: 5px;
        bottom: 58px;
        border-radius: 5px;
        background: var(--color-secondary);
        @include _999 {
          left: calc(50% + 30px);
          top: 65px;
          bottom: auto;
        }
        @include _767 {
          display: none;
        }
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    width: 300px;
    &--bay {
      margin-left: 30px;
      @include _999 {
        margin-left: 0;
        margin-bottom: 0;
      }
    }
    @include _767 {
      margin-bottom: 20px;
      text-align: center;
      width: 100%;
    }
  }

  &__content {
    &--bay {
      margin-left: 30px;
      @include _999 {
        margin-left: 0;
      }
    }
  }

  &__bay-wrapper {
    margin-top: 40px;
    @include _999 {
      margin-top: 0;
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
    }
    @include _767 {
      margin-top: 20px;
      display: block;
    }
  }

  &__bay-label {
    text-align: right;
    color: var(--color-gray);
    margin-bottom: 10px;
    font-weight: 300;
  }

  &__bay-button {
    width: 100%;
    height: 60px;
    @include _999 {
      height: 50px;
    }
  }

  &__sub-text {
    color: var(--color-gray);
  }

  &__actions {
    margin-top: 30px;
    @include _999 {
      margin-top: 0;
    }
    @include _767 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__action {
    margin-top: 20px;
    font-size: var(--font-size-text);
  }
}
