<div class="about container container--5x7">
  <div class="about__left container__left">
    <a href="javascript:" onclick="window.playIntro(this);" class="about__video-preview">
      <img src="img/fleyt/preview_anim.gif" alt="Флэйт анимация" class="about__video" id="about-video">
    </a>
  </div>
  <div class="container__content about__content">
    <h2 class="about__title title title--h2">Отопление вашего<br>дома <span>начинается здесь</span></h2>
    <p><strong>Радиатор Флэйт</strong> - сердце системы электрического отопления. Создаст уютную атмосферу в вашем доме и избавит от
      котельной, кранов, труб и воды.</p>
    <p><strong>Флэйт</strong> - универсален, может быть единственным источником тепла или дополнит существующее отопление.</p>
    <p>Современная конструкция "труба в трубе" и алюминиевый корпус гарантируют высокую эффективность.</p>
    <p>Безопасен и надежен. Срок службы 25 лет.</p>
  </div>
</div>

<div class="about about__pluses about--sticky container container--5x7">
  <div class="container__left about__pluses-wrapper">
    <div class="about__plus">
      <h3 class="about__plus-title title title--h3">Абсолютная <span class="title__wow">Безопасность</span></h3>
      <ul class="list list--doted about__plus-list items">
        <li>Не боится влаги</li>
        <li>Надежная конструкция</li>
        <li>Защита от возгорания</li>
        <li>Запускаются в мороз</li>
      </ul>
    </div>
    <div class="about__plus">
      <h3 class="about__plus-title title title--h3">Современный <span class="title__wow">Стиль</span></h3>
      <ul class="list list--doted about__plus-list items">
        <li>Индивидуальная окраска</li>
        <li>Скрытое подключение</li>
        <li>Высота от 30 - 150 см</li>
        <li>Модульная система в&nbsp;1&nbsp;-&nbsp;2&nbsp;ряда</li>
      </ul>
    </div>
    <div class="about__plus">
      <h3 class="about__plus-title title title--h3">Комфортное <span class="title__wow">Тепло</span></h3>
      <ul class="list list--doted about__plus-list items">
        <li>Не пересушивает воздух</li>
        <li>Бесшумная работа</li>
        <li>Климат-контроль</li>
        <li>Wi-Fi управление</li>
      </ul>
    </div>

  </div>
  <div class="container__content about__effects">
    <div class="about__wow-text text--wow">100%<br>Эффективность</div>
    <img src="img/fleyt/about-plus.jpg" alt="Радиатор Флэйт в доме" class="container__image">
  </div>
</div>
