<div class="calculation calculation--faq">
  <div class="container container--5x7">
    <div class="calculation__left container__left container__left--sticky container__left--flex">
      <div class="title title--h2">У Вас есть вопросы?</div>
      <button class="faq__button button button--outline">
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M22.5 11V6.5C22.5 5.96957 22.2893 5.46086 21.9142 5.08579C21.5391 4.71071 21.0304 4.5 20.5 4.5H4.5C3.96957 4.5 3.46086 4.71071 3.08579 5.08579C2.71071 5.46086 2.5 5.96957 2.5 6.5V18.5C2.5 19.6 3.4 20.5 4.5 20.5H17M22.5 7.5L13.53 13.2C13.2213 13.3934 12.8643 13.496 12.5 13.496C12.1357 13.496 11.7787 13.3934 11.47 13.2L2.5 7.5M18.5 15.78C18.7 15.38 19 14.98 19.4 14.78C19.8141 14.5406 20.2976 14.4497 20.7704 14.5225C21.2432 14.5952 21.677 14.8272 22 15.18C22.3 15.58 22.5 15.98 22.5 16.48C22.5 17.78 20.5 18.48 20.5 18.48M20.5 22.5V22.51"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        Задать свой вопрос
      </button>
    </div>
    <div class="container__content faq">
      <div class="faq__item">
        <div class="faq__number">01.</div>
        <div class="faq__question">Я не замёрзну?</div>
        <div class="faq__answer"><p>Для грамотного расчета системы отопления в первую очередь требуется рассчитать
          теплопотери здания. Для этого необходимо предоставить следующую информацию:</p>
        </div>
      </div>
      <div class="faq__item faq__item--open">
        <div class="faq__number">02.</div>
        <div class="faq__question">Что нужно для расчета отопления?</div>
        <div class="faq__answer"><p>
          Для грамотного расчета системы отопления в первую очередь требуется рассчитать теплопотери здания. Для этого
          необходимо предоставить следующую информацию:</p>
          <ul>
            <li>Регион размещения здания.</li>
            <li>Требуемый режим эксплуатации системы отопления. Основной или дополнительный обогрев. Отопление в дачный
              период с весны по осень, или круглогодично.
            </li>
            <li>Габаритные размеры здания и площади помещений, количество окон.</li>
            <li>Материалы и толщина ограждающих конструкций здания – перекрытия пола и потолка, стен.</li>
          </ul>
        </div>
      </div>
      <div class="faq__item">
        <div class="faq__number">03.</div>
        <div class="faq__question">В какой момент стоит делать расчет отопления?</div>
        <div class="faq__answer">333</div>
      </div>
      <div class="faq__item">
        <div class="faq__number">04.</div>
        <div class="faq__question">Почему такая уличная температура в&nbsp;проекте? <span>«У&nbsp;нас&nbsp;нет&nbsp;таких морозов!»</span>
        </div>
        <div class="faq__answer">444</div>
      </div>
      <div class="faq__item">
        <div class="faq__number">05.</div>
        <div class="faq__question">Сколько я буду платить за&nbsp;отопление?</div>
        <div class="faq__answer">555</div>
      </div>
    </div>
  </div>
</div>
