<div class="calculation">
  <div class="container content">
    <div class="content__header">
      <h1 class="content__title title title--h1">Расчёт электрической<br>системы отопления</h1>
      <img
        srcset="img/fleyt/calc-preview-360.jpg 360w, img/fleyt/calc-preview-768.jpg 728w, img/fleyt/calc-preview.jpg 819w"
        sizes="(max-width: 600px) 360px, (max-width: 999px) 728px, 819w"
        src="img/fleyt/calc-preview.jpg"
        alt="Расчёт системы отопления"
        class="content__header-image"
      />
    </div>
    <div class="content__description content__description--numbers content__description--wow">
      <div class="content__description-item">
        <div class="content__description-title">>150 <span>проектов</span></div>
        <div class="content__description-hint">Мы рассчитываем<br>в&nbsp;месяц</div>
      </div>
      <div class="content__description-item">
        <div class="content__description-title">1 <span>день</span></div>
        <div class="content__description-hint">В среднем занимает<br>расчёт</div>
      </div>
      <div class="content__description-item">
        <div class="content__description-title">0 <span>₽</span></div>
        <div class="content__description-hint">Стоимость расчёта<br>отопления</div>
      </div>
      <div class="content__description-item">
        <div class="content__description-title">7680&nbsp;<span>м&sup2;</span></div>
        <div class="content__description-hint">Самый большой,<br>12&nbsp;этажный дом</div>
      </div>
    </div>
  </div>
</div>
