<div class="calculation">
  <div class="container calculation__action action">
    <div class="action__wrapper">
      <div class="action__text">
        <p>
          Чтобы избежать ошибок при выборе оборудования для системы отопления, воспользуйтесь нашим <b>online-калькулятором</b>
          для&nbsp;предварительного подбора, или <b>закажите точный проект</b> у&nbsp;наших специалистов
          бесплатно.
        </p>
        <ul class="list list--doted">
          <li>Расчёт ежемесячных затрат на отопление</li>
          <li>Точная стоимость оборудования</li>
          <li>Расчёт стоимости доставки</li>
          <li>Рекомендации по размещению и монтажу</li>
          <li>Проект за 1&nbsp;день</li>
        </ul>
      </div>
      <div class="action__buttons">
        <div class="action__button">
          <button class="button button--primary">Заказать расчёт</button>
          <div class="action__hint"><b>рекомендуем</b><br>уже заказали 4654 раза</div>
        </div>
        <div class="action__button">
          <button class="button button button--outline">Online-калькулятор</button>
          <div class="action__hint"><b>Примерные расходы</b><br>систему отопления и электроэнергию</div>
        </div>
      </div>
    </div>
    <div class="action__bottom">
      <p>
        Квалифицированный расчёт&nbsp;&mdash; <strong>это гарантия того, что&nbsp;Вы не&nbsp;замёрзнете</strong> даже
        самой холодной зимой. Это полная и&nbsp;исчерпывающая информация для принятия самостоятельного решения о&nbsp;том,
        подойдет Вам
        этот вид отопления или нет.
      </p>
    </div>
  </div>
</div>
