<div class="colors container container--5x7 container--50x50-m">
  <div class="colors__left container__left">
    <div class="colors__preview red" id="colors-preview" onclick="fleytMain.nextColor('colors-preview')">
      <div class="colors__variants">
        <div class="colors__color colors__color--white" onclick="fleytMain.selectColor('white', 'colors-preview')"></div>
        <div class="colors__color colors__color--black" onclick="fleytMain.selectColor('black', 'colors-preview')"></div>
        <div class="colors__color colors__color--red" onclick="fleytMain.selectColor('red', 'colors-preview')"></div>
        <div class="colors__color colors__color--other" onclick="fleytMain.selectColor('other', 'colors-preview')"></div>
      </div>
    </div>
  </div>
  <div class="colors__content container__content">
    <h2 class="colors__title title title--h2">уникальные<br>ЦВЕТОВЫЕ РЕШЕНИЯ</h2>
    <div class="colors__details">
      <div class="colors__details-col">
        <div class="colors__item">
          <div class="colors__item-title"><b>Неповторимость</b></div>
          <div class="colors__item-images">
            <img src="img/fleyt/cd_1.jpg" alt="Варианты окраски" class="colors__image">
            <img src="img/fleyt/cd_2.jpg" alt="Варианты окраски" class="colors__image">
            <img src="img/fleyt/cd_3.jpg" alt="Варианты окраски" class="colors__image">
          </div>
        </div>

        <div class="colors__item">
          <div class="colors__item-title">Базовые цвета<br><b>в наличие</b></div>
          <div class="colors__item-images">
            <div class="colors__ral colors__ral--9003">Белый
              <div class="colors__ral-label">RAL 9003</div>
            </div>
            <div class="colors__ral colors__ral--9005">Черный
              <div class="colors__ral-label">RAL 9005</div>
            </div>
            <div class="colors__ral colors__ral--7024">Серый
              <div class="colors__ral-label">RAL 7024</div>
            </div>
          </div>
        </div>
      </div>

      <div class="colors__details-col">
        <div class="colors__item">
          <div class="colors__item-title"><b>Смелый</b> подход</div>
          <div class="colors__item-images">
            <img src="img/fleyt/cd_4.jpg" alt="Варианты окраски" class="colors__image">
            <img src="img/fleyt/cd_5.jpg" alt="Варианты окраски" class="colors__image">
          </div>
        </div>

        <div class="colors__item">
          <div class="colors__item-title">Закажите любой цвет<br>по палитре <b>RAL Classic</b></div>
          <div class="colors__item-images">
            <img src="img/fleyt/ral.jpg" alt="Варианты окраски" class="colors__image colors__image--ral">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
