<div class="components">
  <div class="container">
    <h2 class="components__title title title--h2">Состав системы Отопления <strong>Флэйт</strong></h2>

    <div class="components__wrapper">
      <div class="components__fleyt">
        <div class="components__title-h3">Современный радиатор</div>
        <img src="img/fleyt/comp_fleyt.png" alt="Современный радиатор Флэйт" class="components__image-fleyt">
      </div>
      <div class="components__regulator">
        <div class="components__title-h3">Умное управление</div>
        <div class="components__description">Электрорадиаторы Флэйт совместимы с&nbsp;большинством терморегуляторов</div>
        <img src="img/fleyt/comp_termo.png" alt="терморегулятор" class="components__image-termo">
      </div>
    </div>
  </div>

  <div class="components__boiler container">
    <div class="components__boiler-title">
      <h2 class="title title--h2">Электрический котел <strong>в&nbsp;прошлом</strong></h2>
    </div>
    <div class="components__boiler-image-wrapper">
      <img src="img/fleyt/boiler_1.jpg" alt="Электрический котел" class="components__boiler-image">
      <img src="img/fleyt/boiler_2.jpg" alt="Котельная" class="components__boiler-image">
      <img src="img/fleyt/boiler_3.jpg" alt="Насосы" class="components__boiler-image">
      <img src="img/fleyt/boiler_4.jpg" alt="Радиаторы" class="components__boiler-image">
      <div class="components__boiler-minus">
        <p>Флэйт —</p>
        <ul class="components__boiler-minus-list">
          <li>Не нужна сложная и дорогая котельная</li>
          <li>Экономия времени на монтаже</li>
          <li>Работает даже после простоя в мороз</li>
          <li>Включайте отопление когда захотите</li>
          <li>Не требует обслуживания</li>
        </ul>
      </div>
    </div>
  </div>
</div>
