<div class="construction">
  <div class="container construction__unit" id="construction-unit">
    <div class="construction__content-unit">
      <div class="text--bg-black title title--h2">Модульная<br>конструкция</div>
      <p class="construction__description text--bg-black">Самостоятельно создавайте радиатор необходимой ширины
        и&nbsp;мощности</p>
    </div>
    <div class="construction__wrapper-unit">
      <div class="construction__unit-6"></div>
      <div class="construction__unit-connector"></div>
      <div class="construction__unit-6 construction__unit-6--two"></div>
      <div class="construction__unit-3"></div>
    </div>
  </div>

  <div class="container construction__2-row" id="construction-2-row">
    <div class="construction__content-2-row">
      <div class="text--bg-black text--wow">МОЖНО<br>В&nbsp;ДВА&nbsp;ряда</div>
      <p class="construction__description text--bg-black">Удвоенная мощность в&nbsp;меньшем размере
        <strong>с&nbsp;креплением&nbsp;к&nbsp;полу</strong></p>
    </div>
    <div class="construction__wrapper-2-row">
      <div class="construction__top-arrow">
        <div class="construction__top-size">80&nbsp;мм</div>
        <div class="construction__top-size--two">160&nbsp;мм</div>
      </div>
      <div class="construction__top"></div>
      <div class="construction__side"></div>
      <div class="construction__top construction__top--two"></div>
      <div class="construction__side construction__side--two"></div>
      <div class="construction__rack"></div>
    </div>
  </div>

</div>
