<div class="contacts">
  <div class="container">
    <h1 class="title title--h1">Контактная информация</h1>
  </div>
  <div class="contacts__header container container--5x7">
    <div class="container__left contacts__offices">
      <div class="contacts__block contacts__block--box">
        <div class="contacts__block-title">Интернет-магазин</div>
        <div class="contacts__phone contacts__phone--primary">8 (800) 333-81-98</div>
        <a href="sale@fleyt.ru" class="contacts__email link link--email">sale@fleyt.ru</a>
        <div class="contacts__work-time">
          <ul class="list">
            <li>понедельник - пятница <b>с 7:00 - 16:00</b></li>
            <li>суббота, воскресение <b>выходной</b></li>
          </ul>
          <div class="contacts__time-zone">время Московское</div>
        </div>
        <a href="javascript:" class="contacts__button button button--secondary">Написать нам</a>
      </div>

      <div class="contacts__block">

        <div class="contacts__picker-wrapper">
          <a class="contacts__city button button--secondary">Челябинск</a>
          Где посмотреть
        </div>

        <div class="contacts__shop-name">&#171;Шоу-рум&#187; производителя</div>
        <div class="contacts__address">
          ул. Энгельса, д. 43 – оф. 514
          <div class="contacts__address-description">Главный вход, 5 этаж</div>
        </div>
        <div class="contacts__phone">8 (351) 200-90-50</div>
        <div class="contacts__work-time">
          <ul class="list">
            <li>понедельник - пятница <b>с 9:00 - 18:00</b></li>
            <li>суббота, воскресение <b>выходной</b></li>
          </ul>
          <div class="contacts__time-zone">время Челябинское(Мск +2 часа)</div>
        </div>
      </div>
    </div>
    <div class="container__content">
      <div class="contacts__slogan">Мы работаем по&nbsp;всей России<br>с&nbsp;доставкой от&nbsp;одного радиатора</div>
      <div class="contacts__map" id="yandex-map"></div>
      <div class="contacts__service">
        <h4 class="title title--h4">Услуги в офисе</h4>
        <ul class="contacts__service-list list list--doted list--flex">
          <li>Расчет системы отопления</li>
          <li>Демонстрационные образцы</li>
          <li>Оформление заказа</li>
          <li>Консультация по продукту</li>
        </ul>
      </div>
    </div>
  </div>
</div>
