<div class="details">
  <div class="container container--5x7">
    <div class="details__left container__left container__left--sticky">
      <h2 class="details__title title title--h2">
        Внимание <strong>к&nbsp;деталям</strong>
      </h2>
      <div class="details__content">
        <p>Радиаторы Флэйт&nbsp;&mdash; это не&nbsp;просто металлическая конструкция. Это продуманный комплекс
          инженерных,
          технических и&nbsp;программных решений, где каждая деталь имеет значение.</p>
      </div>
    </div>
    <div class="container__content details__items">
      <div class="details__item details__item--color-1">
        <div class="details__image-wrapper">
          <img src="img/fleyt/details_1.jpg" alt="Стильный радиатор" class="details__image">
        </div>
        <div class="details__info">
          <div class="details__info-title">Чистота линий</div>
          <div class="details__info-text">
            <p>Сделайте радиатор элементом стиля, а&nbsp;не&nbsp;«шумной» деталью.</p>
            <p>Отсутствие острых углов, ваша безопасность.</p>
          </div>
        </div>
      </div>

      <div class="details__item details__item--right details__item--color-2">
        <div class="details__image-wrapper">
          <img src="img/fleyt/details_2.jpg" alt="Монтаж к полу и на стену" class="details__image">
        </div>
        <div class="details__info">
          <div class="details__info-title">Универсальный монтаж</div>
          <div class="details__info-text">
            <p>Продуманная конструкция, позволит закрепить Флэйт на&nbsp;стене или на&nbsp;полу.</p>
          </div>
        </div>
      </div>

      <div class="details__item details__item--color-3">
        <div class="details__image-wrapper">
          <img src="img/fleyt/details_3.jpg" alt="Скрытое подключение" class="details__image">
        </div>
        <div class="details__info">
          <div class="details__info-title">Скрытое подключение</div>
          <div class="details__info-text">
            <p>Нет мешающих труб и&nbsp;выпирающих кранов, а&nbsp;провода для&nbsp;подключения можно подключить
              скрыто.</p>
          </div>
        </div>
      </div>

      <div class="details__item details__item--right details__item--color-4">
        <div class="details__image-wrapper">
          <img src="img/fleyt/details_4.jpg" alt="Надежная упаковка" class="details__image">
        </div>
        <div class="details__info">
          <div class="details__info-title">Надежная упаковка</div>
          <div class="details__info-text">
            <p>Мы заботимся о&nbsp;том, чтобы вы&nbsp;получили радиатор в&nbsp;идеальном состоянии.</p>
          </div>
        </div>
      </div>

      <div class="details__item details__item--color-4">
        <div class="details__image-wrapper">
          <img src="img/fleyt/details_5.jpg" alt="Понятная документация" class="details__image">
        </div>
        <div class="details__info">
          <div class="details__info-title">Понятная документация</div>
          <div class="details__info-text">
            <p>С нашей инструкцией установить радиатор легко даже не&nbsp;специалисту.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo logo--box logo--content-right">
    <img src="img/fleyt/header-logo.png" alt="Флэйт" class="logo__img">
  </div>
</div>
