<div class="effect">
  <div class="effect__container container">
    <h2 class="effect__title title title--h2">Максимальная эффективность</h2>
    <div class="effect__content">

      <div class="effect__item">
        <div class="effect__item-title">Температурный градиент</div>
        <div class="effect__item-text">
          <p>Уникальная конструкция нагревательного элемента обеспечивает повышенную мощность в зоне контакта с холодным
            воздухом.</p>
          <p>Это устраняет температурный градиент и повышает теплоотдачу радиатора.</p>
        </div>
      </div>

      <div class="effect__item">
        <div class="effect__item-title">Алюминиевый радиатор</div>
        <div class="effect__item-text">
          <p>Алюминий обладает отличной теплопроводностью, что позволяет эффективно отдавать тепло в помещение.
            Лучше чем сталь и «керамика».</p>
          <p>Он не подвержен коррозии, что сохранит идеальный внешний вид, даже во влажных помещениях.</p>
        </div>
      </div>

      <div class="effect__item">
        <div class="effect__item-title">Повышенная теплоемкость</div>
        <div class="effect__item-text">
          <p>Радиатор с высокой теплоемкостью нагревается медленнее, но и остывает дольше. Это означает, что температура
            в помещении будет более стабильной, без резких перепадов. </p>
        </div>
      </div>

      <div class="effect__item">
        <div class="effect__item-title">Система «Труба в трубе»</div>
        <div class="effect__item-text">
          <p>Конструкция «труба в трубе» позволяет создать большую поверхность теплообмена.</p>
          <p>Способствует увеличению скорости циркуляции воздуха. Комфортное тепло быстрее распределяется по
            помещению.</p>
        </div>
      </div>

    </div>
    <div class="effect__anim-wrapper" id="effect-animation">
      <div class="effect__anim effect__anim--tube"></div>
      <div class="effect__anim effect__anim--cap-t"></div>
      <div class="effect__anim effect__anim--cap-b"></div>
      <div class="effect__anim effect__anim--bracket"></div>
      <div class="effect__anim effect__anim--ten"></div>
    </div>
  </div>
</div>
