<div class="content content--box" id="delivery">
  <div class="container container--5x7">
    <div class="container__left container__left--sticky">
      <h2 class="title title--h2">Способы доставки</h2>
      <p>Доставка товаров, заказанных в интернет-магазине осуществляется следующими способами</p>
    </div>
    <div class="container__content content__body">
      <h3>Самовывоз<br><span>В городах присутствия</span></h3>
      <ul>
        <li>Самовывоз заказа со склада интернет-магазина по адресу г. Челябинск, ул. Энгельса, д. 43, оф. 514 (режим работы пн-пт с 9-00 до 18-00) после согласования с менеджером интернет-магазина</li>
      </ul>
      <h3>Бесплатная доставка по г. Челябинск</h3>
      <ul>
        <li>Доставка заказа в рамках города Челябинск осуществляется после согласования менеджера интернет-магазина "КОУЗИ".</li>
        <li>Доставка в рамках города Челябинск осуществляется бесплатно при заказе от 15 000 руб.</li>
        <li>Товар доставляется по адресу, указанному при оформлении заказа. В день доставки менеджер интернет-магазина свяжется с вами и уточнит время доставки заказа.</li>
        <li>Стоимость доставки в ближайший пригород Челябинска вы можете уточнить у менеджера интернет-магазина по телефону.</li>
        <li>Доставка заказа осуществляется "До подъезда" без подъема на этаж.</li>
      </ul>
      <h3>Доставка по РФ</h3>
      <ul>
        <li>Самовывоз заказа со склада Транспортной кампании в вашем городе.</li>
        <li>Со списком городов вы можете ознакомиться на сайте Транспортной кампании.</li>
      </ul>
      <h3>Адресная курьерская доставка</h3>
      <p>Обязательным условием является 100% предоплата стоимости доставки в момент заказа, после чего товар отгружается получателю. Оплата за сам товар осуществляется при его получении.</p>
      <h3>Онлайн-оплата по счету<br><span>Платежный шлюз ПАО "Сбербанк России"</span></h3>
      <ul>
        <li>Доставка заказа в рамках вашего города осуществляется после согласования с курьерской службой.</li>
        <li>Товар доставляется по адресу, указанному при оформлении заказа. Менеджер курьерской службы свяжется с вами и уточнит дату и время доставки заказа.</li>
        <li>Доставка заказа осуществляется "До подъезда" без подъема на этаж.</li>
      </ul>
      <blockquote>
        <h4>Приемка товара</h4>
        <ul>
          <li>Проверьте комплектность заказа.</li>
          <li>Убедитесь в отсутствии на Товаре механических повреждений.</li>
          <li>Курьеры службы доставки не производят проверку работоспособности Товара.</li>
          <li>При отсутствии замечаний к внешнему виду и комплектности товара подписать "Акт приема передачи".</li>
        </ul>
        <p><b>Внимание!</b> После подписания "Акта приема-передачи" претензии по комплектности Заказа, внешнему виду не принимаются!</p>
      </blockquote>
    </div>
  </div>
</div>
