<div class="gallery" id="gallery">
  <div class="gallery__wrapper">
    <div class="gallery__left">
      <div class="gallery__item">
        <img src="img/fleyt/g_top.jpg" alt="Радиатор Флэйт 500 черный" class="gallery__image gallery__image--border">
      </div>
      <div class="gallery__item">
        <img src="img/fleyt/g_left.jpg" alt="Радиатор Флэйт 500 под окном" class="gallery__image">
      </div>
    </div>
    <img src="img/fleyt/g_right.jpg" alt="Радиатор Флэйт 300 под окном" class="gallery__right">
  </div>
  <img src="img/fleyt/g_front.jpg" alt="Радиатор Флэйт 1500 черный в ванной" class="gallery__front box-shadow">
</div>
