<div class="installation">
  <div class="container content content--padding">
    <div class="content__header">
      <h1 class="content__title title title--h1">Монтаж системы<br>отопления</h1>
      <img
        srcset="img/fleyt/install-preview-360.jpg 360w, img/fleyt/install-preview-768.jpg 728w, img/fleyt/install-preview.jpg 819w"
        sizes="(max-width: 600px) 360px, (max-width: 999px) 728px, 819w"
        src="img/fleyt/install-preview.jpg"
        alt="Монтаж системы отопления"
        class="content__header-image"
      />
    </div>
    <div class="content__description content__description--numbers content__description--wow">
      <div class="content__description-item">
        <div class="content__description-title">>15 <span>минут</span></div>
        <div class="content__description-hint">Занимает монтаж<br>одного радиатора</div>
      </div>
      <div class="content__description-item">
        <div class="content__description-title">1 <span>день</span></div>
        <div class="content__description-hint">На установку всей<br>системы</div>
      </div>
      <div class="content__description-item installation__description-button">
        <button class="installation__download-button button button--primary">Инструкция по установке</button>
      </div>
    </div>
  </div>
</div>
