<div class="installation">
  <div class="container container--5x7">
    <div class="installation__left installation__left--sticky container__left container__left--sticky">
      <div class="title title--h2">Монтаж радиатора</div>
      <div class="filter filter--list">
        <a href="javascript:" class="filter__item filter__item--activate" data-filter-id="manual-1">В один ряд
          <strong>на стену</strong></a>
        <a href="javascript:" class="filter__item" data-filter-id="manual-2">В два ряда <strong>к полу</strong></a>
      </div>
    </div>
    <div class="container__content content">
      <div class="filter__content filter__content--open" id="content-manual-1">
        <div class="installation__manuals content__body manual">
          {% include  "../elements/install_one.html" %}
        </div>
      </div>

      <div class="filter__content content" id="content-manual-2">
        <div class="installation__manuals content__body manual">
          {% include  "../elements/install_two.html" %}
        </div>
      </div>

    </div>
  </div>
</div>
