<div class="install">
  <div class="install__container container container--flex">
    <div class="install__col">
      <h3 class="install__title title title--h3"><strong>Расчёт</strong> системы отопления</h3>
      <div class="install__content">
        <p>Выбор мощности и&nbsp;количества отопительных приборов необходимо начинать с&nbsp;определения теплотехнических характеристик Вашего объекта.</p>
        <p>Чтобы избежать ошибок при выборе оборудования, закажите точный проект <strong>у&nbsp;наших специалистов бесплатно.</strong></p>
      </div>
      <div class="install__actions">
        <a href="" class="install__action button button--secondary">Заказать <strong>детальный расчет</strong></a>
        <a href="" class="install__action button button--secondary">Online-калькулятор</a>
      </div>
    </div>

    <div class="install__col install__col--bay">
      <h3 class="install__title install__title--bay title title--h3">Купить</h3>
      <div class="install__content install__content--bay">
        <p>Закажите радиаторы Флэйт и&nbsp;дополнительное  оборудование, <strong>в&nbsp;официальном</strong> интернет-магазине.</p>
        <p>Оплатите заказ <strong>банковской картой</strong>, по&nbsp;счету, наличными или&nbsp;как&nbsp;юридическое&nbsp;лицо.</p>
      </div>
      <div class="install__bay-wrapper">
        <div class="install__bay-label">Всегда актуальные<br>цены и условия доставки</div>
        <button class="install__bay-button button">Интернет-магазин</button>
      </div>
    </div>

    <div class="install__col">
      <h3 class="install__title title title--h3"><strong>Монтаж</strong> радиаторов Флэйт</h3>
      <div class="install__content">
        <p>Монтаж одного радиатора занимает не&nbsp;больше <strong>15&nbsp;минут</strong>, даже при&nbsp;самостоятельной установке.</p>
        <p class="install__sub-text">При предварительном соблюдение рекомендаций прокладки электропроводки и&nbsp;установки терморегуляторов / автоматики.</p>
      </div>
      <div class="install__actions">
        <a href="" class="install__action button button--secondary"><strong>Инструкция</strong> по установке</a>
      </div>
    </div>
  </div>
</div>
