<div class="installation installation--before">
  <div class="container container--5x7">
    <div class="installation__left container__left container__left--sticky container__left--flex">
      <div class="title title--h2">Подготовительные этапы</div>
    </div>
    <div class="container__content content">
      <div class="content__body">
        <h3>Место установки</h3>
        <p>Установку Флэйт рекомендуется производить рядом с каждым окном. Чтобы отсекать холодный воздух от окна. Если
          рядом с окном нет места, то размещать в любом удобном месте на стене. Расстояние от пола до нижнего края
          прибора 5 - 10 см. Если установка производится под окном, то минимальное расстояние от верхнего края до
          подоконника 3 см.</p>
        <h3>Разводка электропроводки</h3>
        <p><i>Подключение радиаторов Флэйт возможно к имеющейся электросети, но менее предпочтительно.</i></p>
        <p>Необходима прокладка кабеля питания <b>ВВГнг 3х2.5</b> от мест установки радиаторов до
          терморегуляторов или
          распределительного электрощита.</p>
        <p>Важно, чтобы радиаторы в каждом помещении подключались отдельным кабелем.</p>
      </div>
      <div class="installation__blockquote">
        <div class="installation__block-regulation">
          <h4>Монтаж<br>терморегуляторов</h4>
          <p>Терморегуляторы рекомендуется устанавливать на&nbsp;удалении не&nbsp;менее 1&nbsp;метра от&nbsp;радиаторов,
            <b>на&nbsp;высоте 1&nbsp;-&nbsp;1,5&nbsp;метра.</b></p>
          <p>Не рекомендуется перекрывать терморегулятор мебелью.</p>
        </div>
        <div class="installation__block-smart-home">
          <h4>Установка<br>«Умного дома»</h4>
          <p>В данном сценарии необходимо предусмотреть место под&nbsp;установку контакторов/реле для&nbsp;каждого
            помещения внутри электрощита.</p>
          <p>Контакторы подключаются к&nbsp;«головному» модулю системы «Умного дома».</p>
        </div>
        <div class="installation__block-divider">или</div>
      </div>
    </div>
  </div>
</div>
