<div class="intro">
  <div class="container">
    <h1 class="intro__title title title--h1">Электрические радиаторы <b>ФЛЭЙТ</b></h1>
    <p class="intro__info">Современная система отопления для&nbsp;дома,&nbsp;квартиры коммерческих объектов</p>
    <div class="intro__actions">
      <div class="intro__button-buy button">Купить</div>
      <div class="intro__button-calc button button--secondary">Индивидуальный расчёт</div>
    </div>
    <img src="img/fleyt/intro_fleyt.png" alt="Модели Флэйт" class="intro__image intro__image--parallax" id="intro-image">
  </div>
</div>
