<div class="params container container--5x7">
  <div class="params__left container__left container__left--sticky">
    <h2 class="params__title title title--h2">ЛИНЕЙКА Модулей <b>Флэйт</b></h2>
    <div class="params__content">
      <p>Чтобы избежать ошибок при&nbsp;выборе оборудования для&nbsp;системы отопления, воспользуйтесь нашим
        <b>online-калькулятором</b> для&nbsp;предварительного подбора, или&nbsp;<b>закажите точный проект</b>
        у&nbsp;наших специалистов бесплатно.</p>
    </div>
    <div class="params__actions">
      <a href="" class="params__action button button--secondary">Online-калькулятор</a>
      <a href="" class="params__action button button--secondary">Заказать расчёт</a>
      <a href="" class="params__action button button--secondary">Интернет-магазин</a>
    </div>
  </div>
  <div class="container__content params__models">
    <div class="params__model params__model--300">
      <div class="params__model-info">
        <div class="params__param params__param--height">
          <div class="params__param-value">300 <span>мм</span></div>
          <div class="params__param-label">высота</div>
        </div>

        <div class="params__param params__param--power">
          <div class="params__param-value">250 <span>Вт</span></div>
          <div class="params__param-label">мощность модуля</div>
        </div>

        <div class="params__param params__param--wall">
          <div class="params__param-label">Настенное крепление <b>в&nbsp;один ряд</b></div>
        </div>

        <div class="params__param params__param--floor">
          <div class="params__param-label">Напольная установка <b>в&nbsp;один</b> или <b
            class="params__model-variant">два ряда</b></div>
        </div>
      </div>
    </div>

    <div class="params__model params__model--500">
      <div class="params__model-info">
        <div class="params__param params__param--height">
          <div class="params__param-value">500 <span>мм</span></div>
          <div class="params__param-label">высота</div>
        </div>

        <div class="params__param params__param--power">
          <div class="params__param-value"><b class="params__model-variant">250</b> / 500 <span>Вт</span>
          </div>
          <div class="params__param-label">мощность модуля</div>
        </div>

        <div class="params__param params__param--wall">
          <div class="params__param-label">Настенное крепление <b>в&nbsp;один ряд</b></div>
        </div>

        <div class="params__param params__param--floor">
          <div class="params__param-label">Напольная установка <b>в&nbsp;один</b> или <b
          >два ряда</b></div>
        </div>
      </div>
    </div>

    <div class="params__model params__model--1500">
      <div class="params__model-info">
        <div class="params__param params__param--height">
          <div class="params__param-value">1500 <span>мм</span></div>
          <div class="params__param-label">высота</div>
        </div>

        <div class="params__param params__param--power">
          <div class="params__param-value">500 <span>Вт</span>
          </div>
          <div class="params__param-label">мощность модуля</div>
        </div>

        <div class="params__param params__param--wall">
          <div class="params__param-label">Настенное крепление <b>в&nbsp;один ряд</b></div>
        </div>
      </div>
    </div>
  </div>
</div>
