<div class="shop shop--block">
  <div class="container">
    <h2 class="shop__h2 title title--h2 title--not-mg">Затрудняетесь с выбором?</h2>
    <p class="shop__h3 title title--sub-title">начните отсюда</p>
    <div class="shop__help">
      <div class="shop__box">
        <div class="shop__box-title">Проект системы отопления</div>
        <div class="shop__box-text">
          <p>Чтобы избежать ошибок при выборе оборудования для&nbsp;системы отопления,<b>закажите точный проект</b> у&nbsp;
            наших специалистов бесплатно.</p>
          <p>Это исчерпывающая информация со&nbsp;стоимостью, количеством оборудования и&nbsp;рекомендациями по&nbsp;размещению.</p>
        </div>
        <div class="shop__box-action">
          <b>бесплатно</b>
          <button class="button button--primary">Заказать проект</button>
        </div>
      </div>

      <div class="shop__box">
        <div class="shop__box-title">Доставка</div>
        <div class="shop__box-text">
          <p>Мы поставляем свою продукция <b>по всей России</b> от&nbsp;1го&nbsp;радиатора.</p>
        </div>
        <div class="shop__box-action">
          <button class="button button--secondary">Узнать стоимость доставки</button>
        </div>
      </div>

      <div class="shop__box">
        <div class="shop__box-title">Оплата</div>
        <div class="shop__box-text">
          <p>Банковской картой на сайте, по квитанции через отделение банка, наличными или&nbsp;по&nbsp;счету, как&nbsp;юридическое&nbsp;лицо.</p>
        </div>
      </div>

      <div class="shop__box shop__box--contacts">
        <div class="phone phone--shop">
          <div class="phone__number">8(800)333-81-98</div>
          <p class="shop__box-text">задайте ваши вопросы</p>
        </div>
        <div class="shop__box-email">
          <a href="sale@fleyt.ru" class="link link--email">sale@fleyt.ru</a>
          <p class="shop__box-text">отправьте данные<br>по объекту</p>
        </div>
      </div>
    </div>

    <h3 class="shop__h3 title title--h3">Почему стоит сделать заказ&nbsp;у&nbsp;нас</h3>
    <div class="shop__bottom">
      <div class="shop__box shop__box--flat">
        <div class="shop__box-title">Мы производитель</div>
        <p class="shop__box-text">Заказывая радиаторы прямо у производителя, вы получаете гарантию качества и лучшую цену, без дополнительных наценок от посредников.</p>
      </div>
      <div class="shop__box shop__box--flat">
        <div class="shop__box-title">Персональная комплектация</div>
        <p class="shop__box-text">Мы сделаем дополнительную маркировку на каждой коробке, чтобы ваши монтажники легко ориентировались и установили все правильно.</p>
      </div>
      <div class="shop__box shop__box--flat">
        <div class="shop__box-title">Сопровождение</div>
        <p class="shop__box-text">Предоставляем полное пост продажное сопровождение, и всегда готовы ответить на ваши вопросы по нашему оборудованию.</p>
      </div>
    </div>
  </div>
</div>
