<div class="shop">
  <div class="container">
    <h3 class="shop__h3 title title--h3">Возможные конфигурации<br><span>радиаторов Флэйт</span></h3>
    <div class="shop__details">
      <div class="shop__box shop__box--related shop__box--2row">
        <div class="shop__box-text">
          <span>Соедините несколько модулей в&nbsp;два&nbsp;ряда</span><br>
          и получите двойную мощность
        </div>
        <div class="shop__box-text shop__box-text--bottom-right">потребуется<br>напольный кронштейн</div>
      </div>
      <div class="shop__box shop__box--related shop__box--line">
        <div class="shop__box-text">
          <span>Объедините модули в&nbsp;один&nbsp;ряд</span><br>
          и у вас радиатор шириной до&nbsp;4.5&nbsp;метров!
        </div>
        <div class="shop__box-text shop__box-text--bottom">необходимы<br>соединительные<br>кронштейн</div>
      </div>
      <div class="shop__box shop__box--related shop__box--color">
        <div class="shop__box-text">
          <span>Хотите уникальное цветовое решение?</span>
        </div>
        <div class="shop__box-text shop__box-text--bottom">Давайте, обсудим<br>его вместе</div>
      </div>
      <div class="shop__box shop__box--related shop__box--clear">
      </div>
    </div>

    <h2 class="shop__h2 title title--h2">Специальные предложения</h2>
    <div class="shop__details">
      <div class="shop__box shop__box--spec" style="background-image: url(img/fleyt/promo-shop.jpg);">
        <div class="shop__box-title">
          <b>-30%</b><br>за предзаказ
        </div>
        <div class="shop__box-text">Оформите заказ заранее, и получите ваше оборудование <b>через 30&nbsp;дней</b> со&nbsp;скидкой.
        </div>
        <div class="shop__box-promo">
          <span>промокод</span> w30day
        </div>
      </div>
      <div class="shop__box shop__box--spec" style="background-image: url(img/fleyt/delivery-shop.jpg);">
        <div class="shop__box-title">
          <b>Бесплатная</b><br>доставка по Челябинску
        </div>
        <div class="shop__box-text">Доставка в рамках города Челябинск осуществляется бесплатно при&nbsp;заказе от&nbsp;15&nbsp;000&nbsp;руб.</div>
      </div>
      <div class="shop__box shop__box--spec shop__box--clear">
      </div>
    </div>
  </div>
</div>
