<div class="specs">
  <div class="container">
    <h1 class="specs__h1 title title--h1">Характеристики</h1>
  </div>

  <div class="specs__container specs__container--params container container--4x8">
    <div class="specs__left container__left">
      <h2 class="specs__title specs__title--sticky title title--h2">Параметры моделей</h2>
    </div>
    <div class="container__content">
      <div class="specs__table" id="specs-table-params">
        <div class="specs__t-header">
          <div class="specs__slider">
            <div class="specs__slider-prev" onclick="window.specs.prev()">
              <svg width="50" height="12" viewBox="0 0 50 12" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 6L10 11.7735V0.226497L0 6ZM9 7H50V5H9V7Z"/>
              </svg>
            </div>
            <div class="specs__slider-next" onclick="window.specs.next()">
              <svg width="50" height="12" viewBox="0 0 50 12" xmlns="http://www.w3.org/2000/svg">
                <path d="M50 6L40 0.226497V11.7735L50 6ZM0 7H41V5H0V7Z"/>
              </svg>
            </div>
          </div>
          <div class="specs__model">
            <div class="specs__col">
              <img src="img/fleyt/spec250-30.png" alt="Флэйт 250Вт - 30" class="specs__model-image">
              Флэйт 250Вт - 30
            </div>
            <div class="specs__col">
              <img src="img/fleyt/spec250-50.png" alt="Флэйт 250Вт - 50" class="specs__model-image">
              Флэйт 250Вт - 50
            </div>
            <div class="specs__col">
              <img src="img/fleyt/spec500-50.png" alt="Флэйт 500Вт - 50" class="specs__model-image">
              Флэйт 500Вт - 50
            </div>
            <div class="specs__col">
              <img src="img/fleyt/spec500-150.png" alt="Флэйт 500Вт - 150" class="specs__model-image">
              Флэйт 500Вт - 150
            </div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Мощность</div>
          <div class="specs__values">
            <div class="specs__col">250<span class="specs__meas">Вт</span></div>
            <div class="specs__col">250<span class="specs__meas">Вт</span></div>
            <div class="specs__col">500<span class="specs__meas">Вт</span></div>
            <div class="specs__col">500<span class="specs__meas">Вт</span></div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Высота</div>
          <div class="specs__values">
            <div class="specs__col">300<span class="specs__meas">мм</span></div>
            <div class="specs__col">500<span class="specs__meas">мм</span></div>
            <div class="specs__col">500<span class="specs__meas">мм</span></div>
            <div class="specs__col">1500<span class="specs__meas">мм</span></div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Ширина</div>
          <div class="specs__values">
            <div class="specs__col">440<span class="specs__meas">мм</span></div>
            <div class="specs__col">215<span class="specs__meas">мм</span></div>
            <div class="specs__col">440<span class="specs__meas">мм</span></div>
            <div class="specs__col">215<span class="specs__meas">мм</span></div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Толщина</div>
          <div class="specs__values">
            <div class="specs__col">85<span class="specs__meas">мм</span></div>
            <div class="specs__col">85<span class="specs__meas">мм</span></div>
            <div class="specs__col">85<span class="specs__meas">мм</span></div>
            <div class="specs__col">85<span class="specs__meas">мм</span></div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Секций</div>
          <div class="specs__values">
            <div class="specs__col">6</div>
            <div class="specs__col">3</div>
            <div class="specs__col">6</div>
            <div class="specs__col">3</div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Вес нетто</div>
          <div class="specs__values">
            <div class="specs__col">8,4<span class="specs__meas">кг</span></div>
            <div class="specs__col">6,5<span class="specs__meas">кг</span></div>
            <div class="specs__col">13<span class="specs__meas">кг</span></div>
            <div class="specs__col">19<span class="specs__meas">кг</span></div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Крепление к стене</div>
          <div class="specs__values">
            <div class="specs__col">+</div>
            <div class="specs__col">+</div>
            <div class="specs__col">+</div>
            <div class="specs__col">+</div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">Установка на пол <span>(в один / два ряда)</span></div>
          <div class="specs__values">
            <div class="specs__col">+</div>
            <div class="specs__col">+</div>
            <div class="specs__col">+</div>
            <div class="specs__col">-</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="specs__container specs__container--heat container container--4x8">
    <div class="specs__left container__left">
      <h2 class="specs__title title title--h2">Площадь обогрева</h2>
      <div class="specs__description">
        <p>Фактическая площадь обогрева зависит от&nbsp;теплопотерь объекта. Указана ориентировочная обогреваемая
          площадь при&nbsp;высоте потолка не&nbsp;более 2,5&nbsp;метров.</p>
        <p>Не знаете теплопотери вашего объекта?</p>
        <a href="" class="link link--wow">Закажите бесплатный расчёт</a>
      </div>
    </div>
    <div class="container__content">
      <div class="specs__table" id="specs-table-heat">
        <div class="specs__row">
          <div class="specs__property">При теплопотерях до 18 Вт/м³</div>
          <div class="specs__values">
            <div class="specs__col">5<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">5<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">10<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">10<span class="specs__meas">м&sup2;</span></div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">При теплопотерях до 25 Вт/м³</div>
          <div class="specs__values">
            <div class="specs__col">4<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">4<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">8<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">8<span class="specs__meas">м&sup2;</span></div>
          </div>
        </div>
        <div class="specs__row">
          <div class="specs__property">При теплопотерях до 35 Вт/м³</div>
          <div class="specs__values">
            <div class="specs__col">2,8<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">2,8<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">5,6<span class="specs__meas">м&sup2;</span></div>
            <div class="specs__col">5,6<span class="specs__meas">м&sup2;</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="specs__container specs__container--hr container container--4x8">
    <div class="container__left">
      <h2 class="specs__title title title--h2">Цвет</h2>
    </div>
    <div class="container__content">
      <div class="specs__list">
        <div class="specs__line">
          <div class="specs__label">Белый RAL9003, Черный RAL9005, Серый RAL7024
            <div class="specs__sub-text">Поверхность муар</div>
          </div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Возможна <b>индивидуальная окраска</b> по&nbsp;RAL&nbsp;Classic</div>
        </div>
      </div>
    </div>
  </div>

  <div class="specs__container specs__container--hr container container--4x8">
    <div class="container__left">
      <h2 class="specs__title title title--h2">Характеристики</h2>
    </div>
    <div class="container__content">
      <div class="specs__list">
        <div class="specs__line">
          <div class="specs__label">Номинальное напряжение питания</div>
          <div class="specs__value"><b>230</b> В</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Номинальная частота тока</div>
          <div class="specs__value">50 Гц</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Степень защиты</div>
          <div class="specs__value"><b>IP 24</b></div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Класс защиты от поражения электрическим током</div>
          <div class="specs__value"><b>I</b></div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Температура поверхности корпуса</div>
          <div class="specs__value">не более <b>85</b>С°</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Температура окружающей среды</div>
          <div class="specs__value"><b>-25</b>С° до <b>35</b>С°</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Температура хранения и перевозки</div>
          <div class="specs__value"><b>-50</b>С° до <b>50</b>С°</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Страна производства</div>
          <div class="specs__value"><b>Сделано в России</b></div>
        </div>
        <div class="specs__sub-text">
          <p>Примечание:</p>
          <ol class="list list--number">
            <li>Допуск на номинальное напряжение ±5%</li>
            <li>Допуск на номинальную потребляемую мощность ±10%</li>
            <li>Допуск на номинальную частоту тока ±1%</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="specs__container specs__container--hr container container--4x8">
    <div class="container__left">
      <h2 class="specs__title title title--h2">Комплектация</h2>
    </div>
    <div class="container__content">
      <div class="specs__list">
        <div class="specs__line">
          <div class="specs__label">Электрический радиатор</div>
          <div class="specs__value">1 шт.</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Монтажный комплект</div>
          <div class="specs__value">1 шт.</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Руководство по эксплуатации с гарантийным талоном</div>
          <div class="specs__value">1 шт.</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Упаковка</div>
          <div class="specs__value">1 шт.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="specs__container specs__container--hr container container--4x8">
    <div class="container__left">
      <h2 class="specs__title title title--h2">Обязательства</h2>
    </div>
    <div class="container__content">
      <div class="specs__list">
        <div class="specs__line">
          <div class="specs__label">Срок службы радиатора Флэйт</div>
          <div class="specs__value"><b>25 лет</b></div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Гарантийный срок</div>
          <div class="specs__value"><b>5 лет</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="specs__container specs__container--hr container container--4x8">
    <div class="container__left">
      <h2 class="specs__title title title--h2">Сведения о сертификации</h2>
    </div>
    <div class="specs__content container__content">
      <p>Товар сертифицирован на территории Таможенного союза и соответствует требованиям нормативных документов:</p>
      <ul class="list list--text-doted">
        <li>ТР ТС 004/2011 «О безопасности низковольтного оборудования»</li>
        <li>ТР ТС 020/2011 «Электромагнитная совместимость технических средств»</li>
      </ul>
      <div class="specs__list specs__list--cert">
        <div class="specs__line">
          <div class="specs__label">Сертификата соответствия</div>
          <div class="specs__value"><b>ЕАЭС RU С-RU.НЕ42.В.01047/24</b><br>от 09.07.2024 до 08.07.2029</div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Изготовлено в соответствии</div>
          <div class="specs__value"><b>ТУ 27.51.26-001-45631809-2023</b></div>
        </div>
        <div class="specs__line">
          <div class="specs__label">Страна производства</div>
          <div class="specs__value"><b>Сделано в России</b></div>
        </div>
      </div>
    </div>
  </div>

  <div class="specs__container specs__container--hr container container--4x8">
    <div class="container__left">
      <h2 class="specs__title title title--h2">Документы и файлы</h2>
    </div>
    <div class="container__content">
      <div class="specs__docs">
        <a href="#" target="_blank" class="link file file--patent">
          <div class="file__title">Сертификат соответствия</div>
          <div class="file__description">скачать</div>
        </a>
        <a href="#" target="_blank" class="link file file--patent">
          <div class="file__title">Патент на полезную модель</div>
          <div class="file__description">скачать</div>
        </a>
        <a href="#" target="_blank" class="link file file--help">
          <div class="file__title">Инструкция по установке</div>
          <div class="file__description">скачать</div>
        </a>
        <a href="#" target="_blank" class="link file file--help">
          <div class="file__title">Руководство пользователя</div>
          <div class="file__description">скачать</div>
        </a>
        <a href="#" target="_blank" class="link file file--3d">
          <div class="file__title">3D модели для дизайнеров</div>
          <div class="file__description">скачать</div>
        </a>
      </div>
    </div>
  </div>

</div>
