<div class="usages">
  <div class="container usages__container">
    <div class="usages__wow text--wow">Технологии в&nbsp;комфорте</div>
    <div class="usages__master">
      <div class="usages__wrapper usages__wrapper--master">
        <div class="usages__title">Основное отопление</div>
        <div class="usages__content">
          <p>Полноценный источника тепла круглый год.</p>
          <p>Обеспечит комфортную температуру в&nbsp;помещениях различного назначения от&nbsp;Якутска до&nbsp;Краснодара.</p>
        </div>
      </div>
      <img src="img/fleyt/usage_master.jpg" alt="Основное отопление" class="usages__mobile-image">
    </div>
    <div class="usages__slave">
      <div class="usages__wrapper usages__wrapper--slave">
        <div class="usages__title">Дополнительный источник тепла</div>
        <div class="usages__content">
          <p>Создаст комфорт в&nbsp;сочетании с&nbsp;теплым полом.</p>
          <p>Поможет в&nbsp;тех случаях, когда основного отопления недостаточно.</p>
        </div>
      </div>
      <img src="img/fleyt/usage_slave.jpg" alt="Вертикальный полотенцесушитель" class="usages__mobile-image">
    </div>
  </div>
  <div class="logo logo--box logo--content-left">
    <img src="img/fleyt/header-logo.png" alt="Флэйт" class="logo__img">
  </div>
</div>
