<meta name="description" content="Флэйт - Современная система отопления для дома, квартиры коммерческих объектов">

<meta property="og:title"
      content="Современная электрическая система отопления для дома, квартиры коммерческих объектов">
<meta property="og:type" content="website">
<meta property="og:url" content="https://fleyt.ru/">
<meta property="og:image" content="img/og_image.jpg">
<meta property="og:image:alt" content="Электрические радиаторы Флэйт">

<!--<link rel="icon" href="/favicon.ico" sizes="any">-->
<link rel="icon" href="img/fleyt/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/img/app_icon.png">

<!--<link rel="manifest" href="/site.webmanifest">-->
<meta name="theme-color" content="#fff">
