<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ username }}{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="@node/@fontsource-variable/sofia-sans">
  <link rel="stylesheet" href="@node/typeface-roboto/index.css">
  <link href="@styles/fleyt.template.scss" rel="stylesheet">

  {% include "layouts/template.head.html" %}

  {% block css %}{% endblock %}

  <script src="@scripts/main.js" defer="defer"></script>

</head>

<body>

<div id="app">
  {% include "common/header.html" %}

  {% block content %}{% endblock %}

  {% include "common/footer.html" %}
</div>

</body>

</html>
